.header {
    background-color: $color-grey;
    height: 100vh;
    width: 100%;
}
.navigation {
    background-color: $color-grey;
    color: $color-white;
    display: flex;
    align-items: center;
    &__list {
        list-style: none;
        font-size: 1.5rem;
        font-weight: 400;
        visibility: visible;
        @media screen and (max-width: 37.5em) {
            visibility: hidden;
        }

        &--links:link,
        &--links:visited {
            color: $color-white;
            text-decoration: none;
            padding: 2rem 2.5rem;
        }
        &--links:hover {
            background-color: $color-green;
            clip-path: polygon(10% 0, 110% 0, 90% 100%, -10% 100%);
        }
    }
}
.logo {
    background-color: $color-green;
    clip-path: polygon(0 0, 100% 0, 87% 100%, 0 100%);
    padding: 1.8rem 5rem;
    text-align: center;
    margin-right: auto;
    @media screen and (max-width: 32.625em) {
        width: 60%;
    }
    @media screen and (max-width: 27.5em) {
        width: 110%;
    }
    &__name {
        font-size: 2rem;
        letter-spacing: 0.3rem;
        margin-bottom: 0.2rem;
        @media screen and (max-width: 22em) {
            font-size: 1.5rem;
        }
        &--first {
            font-weight: 600;
        }
        &--last {
            font-weight: 400;
        }
    }
    &__skill {
        font-size: 1.5rem;
        font-weight: 400;
        letter-spacing: 0.3rem;

        @media screen and (max-width: 22em) {
            font-size: 1.2rem;
        }
    }
}
.hero {
    background-color: $color-grey;
    &__wrapper {
        width: 70%;
        @include center;
        @media screen and (max-width: 22em) {
            width: 90%;
        }
    }

    &__text {
        color: $color-white;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 5rem;
        letter-spacing: 0.4rem;
        text-align: center;
        line-height: 8rem;
        margin-bottom: 3.8rem;
        @media screen and (max-width: 22em) {
            font-size: 4rem;
            line-height: 7rem;
        }
    }

    &__text-box {
        color: $color-white;
        font-weight: 200;
        text-transform: uppercase;
        font-size: 2rem;
        letter-spacing: 0.2rem;
        text-align: center;
        line-height: 2rem;
        margin-bottom: 3.8rem;
        @media screen and (max-width: 22em) {
            font-size: 4rem;
            line-height: 7rem;
        }
    }

    &__text-design {
        color: #29d256;
    }

    &__btn:link,
    &__btn:visited {
        @include horCenter;
        text-decoration: none;
        font-size: 1.8rem;
        font-weight: 400;
        color: $color-grey;
        background-color: $color-white;
        border-radius: 10rem;
        padding: 1.8rem 2.5rem 1.5rem 2.5rem;
        transition: all 0.4s;
    }

    &__btn:hover {
        background-color: $color-green;
        border-radius: 0;
        color: $color-white;
    }
}

.heading__two {
    font-size: 6rem;
    font-weight: 600;
    color: $color-white;
    text-transform: uppercase;
    padding: 10rem 4rem;
}

.css {
    background-image: linear-gradient(to right, $color-green, $color-blue);
    padding: 0 3rem 10rem 3rem;
}
.projects {
    box-sizing: content-box;
    display: grid;
    cursor: pointer;
    position: absolute;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    grid-gap: 4%;
    align-items: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    @media screen and (max-width: 26.5625em) {
        grid-template-columns: 1fr;
        grid-gap: 4rem;
    }
}
.project {
    position: relative;
    &__img {
        width: 100%;
    }
    &::after {
        content: attr(data-content);
        display: flex;
        align-items: center;
        justify-content: center;
        color: $color-white;
        font-size: 0;
        text-align: center;
        background-color: $color-grey;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 0;
        transition: all 0.4s;
    }
    &:hover::after {
        height: 100%;
        font-size: 2rem;
    }
}

.javascript {
    background-image: linear-gradient(to left, $color-green, $color-blue);
    padding: 0 3rem 10rem 3rem;
}
.about {
    background-color: $color-grey;
    position: relative;
    color: $color-white;
    &__content {
        position: relative;
        z-index: 2;
    }
}
.images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 1rem;
    align-items: center;
    padding-top: 4rem;
}

.title {
    font-size: 4rem;
    color: $color-green;
    font-weight: 600;
    padding: 4rem 0;
}
.list {
    list-style: none;
}
.list__value {
    font-size: 2rem;
    font-weight: 400;
    padding: 1rem 0;
}
.list:last-child {
    padding-bottom: 4rem;
}
.text {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    text-align: center;
    @media screen and (max-width: 32.625em) {
        display: grid;
        grid-template-columns: 1fr;
    }
}
.profile {
    background-image: url('../img/suraj_verma.JPG');
    clip-path: circle();
    width: 15rem;
    height: 15rem;
    background-size: 15rem;
    background-position: top center;
    background-repeat: no-repeat;
    padding-top: 4rem;
}
.social {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    &__icon {
        box-sizing: content-box;
        height: 5rem;
        width: 5rem;
        margin: 2rem;
        transition: transform 0.4s;
        cursor: pointer;

        &:hover {
            transform: scale(1.5);
        }
    }
}

.end {
    font-size: 1.8rem;
    font-weight: 400;
    padding: 2rem 0;
    text-align: center;
    letter-spacing: 1rem;
    text-transform: uppercase;
}
.heart {
    color: $color-green;
    font-size: 2.5rem;
}

// SIDE MENU

.side__menu,
.side__menu--background,
.side__menu--links,
.side__menu--list,
.side__menu--values,
.cross1,
.cross2,
.cross3 {
    visibility: hidden;
}

@media screen and (max-width: 37.5em) {
    .side__menu,
    .side__menu--background,
    .side__menu--links,
    .side__menu--list,
    .side__menu--values,
    .cross1,
    .cross2,
    .cross3 {
        visibility: visible;
    }
    .side__menu {
        position: fixed;
        z-index: 5;
        right: 3.5rem;
        top: 2.5rem;
        display: inline-block;
        width: 7rem;
        height: 7rem;
        border-radius: 100rem;
        background-color: $color-white;
    }

    .side__menu--background {
        position: fixed;
        z-index: 4;
        right: 3.5rem;
        top: 2.5rem;
        display: inline-block;
        width: 7rem;
        height: 7rem;
        border-radius: 100rem;
        background-color: $color-green;
        transition: all 0.4s;
    }

    .cross1 {
        position: absolute;
        top: 1.7rem;
        left: 50%;
        transform: translateX(-50%);
        width: 3.5rem;
        height: 0.6rem;
        background-color: $color-grey;
    }

    .cross2 {
        background-color: $color-grey;
        position: absolute;
        top: 3.1rem;
        left: 50%;
        transform: translateX(-50%);
        width: 3.5rem;
        height: 0.6rem;
    }
    .cross3 {
        background-color: $color-grey;
        position: absolute;
        top: 4.6rem;
        left: 50%;
        transform: translateX(-50%);
        width: 3.5rem;
        height: 0.6rem;
    }

    .side__menu--list {
        position: fixed;
        z-index: 5;
        position: fixed;
        top: 50%;
        left: 0;
        font-size: 0;
        transform: translate(-50%, -50%);
        list-style: none;
        transition: all 0.4s;
    }

    .side__menu--values {
        padding: 2rem 4rem;
    }
    .side__menu--links:link,
    .side__menu--links:visited {
        text-decoration: none;
        font-size: inherit;
        color: $color-white;
        padding: 2rem 4rem;
    }
    .side__menu--links:hover {
        background-color: $color-white;
        color: $color-grey;
    }
}
