*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; // 1rem = 10px
    font-family: 'Raleway', sans-serif;
    @media screen and (max-width: 67.0625em) {
            font-size: 50%; 
    }
    @media screen and (max-width: 53.3125em) {
        font-size: 42%;
    }
}

body {
    box-sizing: border-box;
}
.particles-js-canvas-el {
    height: 100% !important;
}
::selection {
    color: $color-white;
    background-color: $color-blue;
}

