/**********CSS RESET********/
*{                        
	margin:0;
	padding:0;
}

/*********Body*************/
.body{
	font-family: arial , sans-serif;
	font-size: 15px;
	padding: 0;
	background-color: #ffffff;
}

.globle{
	width: 100%;
}

.header{
	background-color: #000000; 
}

.row{
	width: 80%;
	margin: auto;
	color: #fff;
}
.header #nav{
	font-family: Agency FB;
}

#nav{
	display: inline;
	width: 50%;
	margin-left: 0;
	list-style: none;
	padding-top: 35px; 
	float: right;
	padding-left: 200px;
}

#nav li{
	display: inline;
	padding: 4px;
	font-weight: bold;
}

#branding{
	width: 30%;
	padding-bottom:100px;
}

#nav a{
	text-decoration: none;
	color: #fff;
	padding-left: 20px;
}

.header .row h1,p{
	font-family: Agency FB;
}

.content-showcase{
	font-size:200%;
	position:absolute;
	left: 765px;
	top: 346px;
}
#showcase{
	width: 380px;
	height: 500px;
	float:left;
}

.row:after{
display:block;
content:"";
clear:both;
}

/**************************************/

.content{
  background-color: #fff;
}

.content .row{
	color: #525253;
	width: 70%;
	padding-top: 70px;
	margin: center;
}

.col{
	width: 30%;
	float: left;
	margin: center;
	text-align: center;
	padding-bottom: 70px;
}

.col img{
	margin-left: 45px;
	padding-top: 25px;
	padding-bottom: 25px;
	text-align: center;
}

#bolder{
	font-weight: bolder;
	text-align: center;
}

.content .row h1,p{
	text-align: center;
	padding-bottom: 20px;
}
#padding-border{
	padding-top: 22px;
}
#border{
	margin-left: 343px;
	width: 28%;
    border-bottom: 3px solid #000;
    padding-bottom: 0px;
    padding-top: 0px; 
}
/**********************************/

.footer{
	background-color: #f4f4f4;
}

.footer .row{
	color: #000;
	padding-top: 80px;
}

.col-50{
	width: 50%;
	float: left;
}

#footer-phone{
	height: 70%;
}

.row:after{
	display:block;
	content:"";
	clear:both;
}

.footer .row .right-section p{
	padding-bottom: 0px;
}

.footer .row .right-section h1,p{
		text-align: left;
}


.footer .row .right-section h1{
		padding-bottom: 10px;
}